<!-- {{ETH_Zurich}} -->

<html>
    <body>
        <ul class="menu" id="outline">
            <li class="outline_item"><a href="#abstract">Abstract</a></li><!--
         --><li class="outline_item"><a href="#details">Details</a></li><!--
         --><li class="outline_item"><a href="#contact">Contact</a></li><!--
         --><li class="outline_item"><a href="#references">References</a></li><!--
         -->
        </ul>
        <div class="sec light_grey" id="abstract">
            <div>
                <h2>Abstract:</h2>
                <p>Inflammatory bowel disease (IBD) results in chronic inflammation of the intestines. Current diagnostic methods are invasive and rely on biomarkers that are not sufficiently disease-specific. We have engineered <i>E. coli</i> to detect several disease-specific biomarkers, memorize this event, and allow specific readout of the memory state. While the sensor cells travel through the gut, simultaneously occurring signals are memorized by activating an AND gate which triggers a recombination-based unidirectional switch and commits the observation to memory. After isolation from the patient’s faeces, the memory can be read out through the expression of a fluorescent protein induced by the addition of the candidate biomarker. Thus a single fluorescent protein can differentiate between many different candidate markers. A community of sensor cells can be utilized at the same time, enabling a high degree of multiplexing. Pavlov’s Coli is a non-invasive diagnostic tool for a large selection of specific biomarkers associated with IBD.
                </p>
            </div>
        </div>
        <div class="sec white" id="details">
            <div>
                <h2>The project in details:</h2>
                <p>The inflammatory bowel disease describes the chronic inflammations of parts of the intestine and is a collective of several further specified illnesses. The most common conditions are ulcerative colitis and Crohn's disease. It is classified as an autoimmune disease for which no cure has been developed so far. Current treatments include immunosuppression, surgery, antibiotics and nutritional therapies.<br>
                Unfortunately there aren't characteristic blood markers to distinguish the different forms of IBD. The diagnosis relies mostly on the location of inflammation observed during colonoscopy. Also the underlying trigger of the disease is not completely understood but correlation studies proposed factors such as diet, genetic predisposition, breach of the intestinal barrier and the composition of the microbiota, called dysbiosis. It is reported that the diversity of the microbiota is noticeably reduced in IBD patients and that the composition of the gut flora changes from symbiotic to predominantly pathobiotic microbes.</p>

                <p>And this is where our project comes in. We are developing a tool that allows for investigating the microbiota that is associated with inflammation, namely a harmless bacterial strain that can sense two inputs and store this information until readout.<br>
                The inflammation of the intestine partially interrupts the integrity of the layer of epithelial cells lining the intestine. This cell layer separates the gut lumen containing trillions of microbes from the body. The damage to this essential barrier compromises the selectivity of it and allows for penetration of immunogenic antigens from the lumen across the epithelial layer<sup><a href="#cit1" class="cit">1</a>,<a href="#cit2" class="cit">2</a></sup> what enhances the inflammation reaction. On the other side, there is also non-normal leakage of inflammation markers into the gut lumen. One of these molecules is nitric oxide (NO) and is one of the molecules we are going to sense with our system. The sensing of NO with <i>E.coli</i> has already been described by Archer et al.<sup><a href="#cit3" class="cit">3</a></sup> in 2012 what enables a faster adaptation of this system for our purpose. <br>
                Aside a general inflammation marker we want to sense molecules secreted by bacteria in order to identify them. One well-known class of molecules secreted by many bacterial species belongs to the quorum sensing (QS) system. QS molecules act as bacterial hormones among and between species which control for example the formation of biofilms and growth behaviour. Furthermore, it was shown that QS molecules can alter the microbiota's composition<sup><a href="#cit4" class="cit">4</a></sup>. The best known subclass of QS molecules are the N-acyl homoserine lactones (AHL) which will be identified by our living biosensor.</p>

                <p>Multiple genetic systems referring to QS have been described. In most cases, AHL molecules act as activators for the expression of proteins. But in our system a repressor of protein expression is favoured. A suitable repressor protein is EsaR that was first described in 2002 by Minogue et al<sup><a href="#cit5" class="cit">5</a></sup>. As this regulatory protein naturally occurs in the plant pathogen <i>Pantoea stewartii</i> it is necessary to change the specificity towards an AHL related to IBD. This will be achieved by directed evolution with an optimized dual selection system similar to the one already used by Collins et al.<sup><a href="#cit6" class="cit">6</a></sup> for a closely related regulatory protein. <br>
                Finally, our system integrates two inputs related to IBD and converts them - if encountered together - into an easy observable output. As there exist several intestinal markers for IBD that ideally are observed in parallel, our system aims at a high level of multiplexing and flexibility. Because the number of distinguishable reporters is limited, we integrate the concept of adaptive learning into our genetic circuit. This allows a potentially unlimited number of parallel measured markers. The information that two IBD related markers were encountered together is stored in the DNA of the bacterial reporter system. When these bacteria encounter just one of the markers again after recovery from the feces – in our case AHL - they express an observable reporter that gives the information that the added marker was encountered together with inflammation.</p>

                <p>The clinical procedure would look like the following: an IBD patient is given a mix of the bacterial reporter strains, each specific for a certain AHL or another marker along NO. After a certain time, the reporter strains are extracted from the patient's feces and sent to the laboratory. There, the bacteria are grown in different small cultures, each of them containing another marker. The cultures that change their colour give the doctor information on the composition of the inflammation-related microbiota and an appropriate therapy can be chosen as proposed by Thompson et al<sup><a href="#cit4" class="cit">4</a></sup>.</p>

                <p>Our bacterial reporter system for IBD related markers gives an enhanced insight into the development and persistence of this chronic inflammatory disease of the intestine. It can be used as a diagnostic tool as well as for fundamental research of the underlying causes. The fact that only in Europe 2.5 million cases of IBD are reported and the number of IBD patients is increasing world-wide<sup><a href="#cit7" class="cit">7</a></sup> shows the significance of our project.</p>
            </div>
        </div>

        <div class="sec light_grey" id="contact">
            <div>	
                <h2> Contact: </h2>
                <ul>
                    <li>Email: <a href="mailto:igem2016@hiddendomain" onclick="this.href=this.href.replace(/hiddendomain/,'bsse.ethz.ch')">igem2016</a>
                    <li>Facebook: <a href="https://www.facebook.com/iGEM.ETH.Zurich/">/iGEM.ETH.Zurich</a>
                    <li>Twitter: <a href="https://twitter.com/eth_igem">@ETH_iGEM</a>
                </ul>
            </div>
        </div>

        <div class="sec white" id="references">	
            <div>
                <h2> References: </h2>
                <ul>
                    <li><a name="cit1" class></a>[1] Maciej Chichlowski and Laura P Hale. “Bacterial-mucosal interactions in inﬂammatory bowel disease: an alliance gone bad”. In: <i>American Journal of Physiology-Gastrointestinal and Liver Physiology</i> 295.6 (2008), G1139–G1149.
                    <li><a name="cit2" class></a>[2] Mike G Laukoetter, Porfirio Nava, and Asma Nusrat. “Role of the intestinal barrier in inﬂammatory bowel disease”. In: <i>World Journal of Gastroenterology</i> 14.3 (2008), p. 401.
                    <li><a name="cit3" class></a>[3] Eric J Archer, Andra B Robinson, and Gürol M Süel. “Engineered E. coli that detect and respond to gut inﬂammation through nitric oxide sensing”. In: <i>ACS synthetic biology</i> 1.10 (2012), pp. 451–457.
                    <li><a name="cit4" class></a>[4] Jessica Ann Thompson et al. “Manipulation of the quorum sensing signal AI-2 aﬀects the antibiotic-treated gut microbiota”. In: <i>Cell reports</i> 10.11 (2015), pp. 1861–1871.
                    <li><a name="cit5" class></a>[5] Timothy D Minogue et al. “The autoregulatory role of EsaR, a quorum-sensing regulator in Pantoea stewartii ssp. stewartii: evidence for a repressor function”. In: <i>Molecular microbiology</i> 44.6 (2002), pp. 1625– 1635.
                    <li><a name="cit6" class></a>[6] Cynthia H Collins, Jared R Leadbetter, and Frances H Arnold. “Dual selection enhances the signaling speciﬁcity of a variant of the quorum-sensing transcriptional activator LuxR”. In: <i>Nature biotechnology</i> 24.6 (2006), pp. 708–712.
                    <li><a name="cit7" class></a>[7] Gilaad G Kaplan. “The global burden of IBD: from 2015 to 2025”. In: <i>Nature Reviews Gastroenterology & Hepatology</i> 12.12 (2015), pp. 720–727.
                </ul>
            </div>
        </div>

        <div class="sec dark_grey two_columns">
            <div>
                <div>
                    <h3>First column:</h3>
                    <p>There are many facets to the expressive use of typography, and with those come many different techniques to help with visual aid and the graphic design. Spacing and kerning, size-specific spacing, x-height and vertical proportions, character variation, width, weight, and contrast, are several techniques that are necessary to be taken into consideration when thinking about the appropriateness of specific typefaces or creating them.</p>
                </div>
                <div>
                    <h3>Second column:</h3>
                    <p>Traditionally, text is composed to create a readable, coherent, and visually satisfying typeface that works invisibly, without the awareness of the reader. Even distribution of typeset material, with a minimum of distractions and anomalies, is aimed at producing clarity and transparency.</p>
                </div>
            </div>
        </div>

        <div class="sec white three_columns">
            <div>
                <div>
                    <h3>First column:</h3>
                    <p>There are many facets to the expressive use of typography, and with those come many different techniques to help with visual aid and the graphic design. Spacing and kerning, size-specific spacing, x-height and vertical proportions, character variation, width, weight, and contrast, are several techniques that are necessary to be taken into consideration when thinking about the appropriateness of specific typefaces or creating them.</p>
                </div>
                <div>
                    <h3>Second column:</h3>
                    <p>Traditionally, text is composed to create a readable, coherent, and visually satisfying typeface that works invisibly, without the awareness of the reader. Even distribution of typeset material, with a minimum of distractions and anomalies, is aimed at producing clarity and transparency.</p>
                </div>
                <div>
                    <h3>Third column:</h3>
                    <p>When placing two or more differing and/or contrasting fonts together, these techniques come into play for organizational strategies and demanding attractive qualities. For example, if the bulk of a title has a more unfamiliar or unusual font, simpler sans-serif fonts will help compliment the title while attracting more attention to the piece as a whole.</p>
                </div>
            </div>
        </div>
    </body>
</html>