<!-- {{ETH_Zurich}} -->

<html>
    <body>
        <ul class="menu" id="outline">
            <li class="outline_title"><a href="#globalWrapper">MODEL</a></li><!--
         --><li class="outline_item"><a href="#overview">Overview</a></li><!--
         --><li class="outline_item"><a href="#goals">Goals</a></li><!--
         --><li class="outline_item"><a href="#results">Results</a></li><!--
         --><li class="outline_item"><a href="#references">References</a></li><!--
         -->
        </ul>
        <div class="sec page_title">
            <div>
                <h1>MODEL</h1>
            </div>
        </div>
        <div class="sec white" id="overview">
            <div>
                <h2>OVERVIEW</h2>
                <div class="image_box full_size">
                    <a href="http://2016.igem.org/File:T--ETH_Zurich--model_structure.svg">
                        <img src="http://2016.igem.org/wiki/images/4/44/T--ETH_Zurich--model_structure.svg">
                    </a>
                    <p><b>Figure 1:</b> Schematic view of the model structure. Each module represents a circuit element.</p>
                </div>
            </div>
        </div>
        <div class="sec white three_columns paddingless">
            <div class="quicklinks">
                <div>
                    <ul> 
                        <li class="outline_item"><a href="#goals">
                            <img src="http://2016.igem.org/wiki/images/7/72/T--ETH_Zurich--arrow.svg">GOALS</a>
                        </li>
                        <li class="outline_item"><a href="#results">
                            <img src="http://2016.igem.org/wiki/images/7/72/T--ETH_Zurich--arrow.svg">RESULTS</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="outline_item"><a href="http://2016.igem.org/Team:ETH_Zurich/Sensor_Module">
                            <img src="http://2016.igem.org/wiki/images/7/72/T--ETH_Zurich--arrow.svg">SENSOR MODULE</a>
                        </li>
                        <li class="outline_item"><a href="http://2016.igem.org/Team:ETH_Zurich/Switch_Module">
                            <img src="http://2016.igem.org/wiki/images/7/72/T--ETH_Zurich--arrow.svg">SWITCH MODULE</a>
                        </li>
                    </ul>
                </div>
                <div style="padding-bottom:12px;">
                    <ul>
                        <li class="outline_item"><a href="http://2016.igem.org/Team:ETH_Zurich/Reporter_Module">
                            <img src="http://2016.igem.org/wiki/images/7/72/T--ETH_Zurich--arrow.svg">REPORTER MODULE</a>
                        </li>
                        <li class="outline_item"><a href="http://2016.igem.org/Team:ETH_Zurich/Parameters">
                            <img src="http://2016.igem.org/wiki/images/7/72/T--ETH_Zurich--arrow.svg">PARAMETERS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sec white content_only">
            <div>
                <h3>INTRODUCTION</h3>
                <p>Due to the complexity of our system, an intuitive design would not be sufficient. Several components must be tuned specifically for our application, and the correct functioning of the candidate designs is not obvious. We developed a hybrid deterministic-stochastic model of our system covering the mechanics of the components we use. The main goals include a model-aided design of the system, tuning of the system components for our application and prediction of the system behavior.</p>
                <p>The stochastic approach of our model allows us to exploit the intrinsic noise at our advantage: our model describes the <it>distribution</it> of the population's behavoir, which is much more informative than the average. We can thus interpret quantitative outputs of the system with greater accuracy.</p>
                <p>The model matches the modular sructure of the system, making easier to exchange components and test their behavior in the full system. Thanks to this feature we were able to quickly test alternative parts like the lactate sensor and the CRISPR switch.</p>
                <p>The parameters of the model are strictly based on literature or experimental characterization of the single components. The estiamtion of the parameters uses INSIGHT, a recent method based on <i>Approximate Bayesian Computation</i> (ABC) and flow cytomerty data.<sup><a href="#cit1" class="cit">1</a></sup></p>
            </div>
        </div>

        <div class="sec light_grey title_only" id="goals">
            <div>
                <h2>GOALS</h2>
            </div>
        </div>
        <div class="sec light_grey three_columns content_only">
            <div>
                <div>
                    <h3>PROOF OF CONCEPT</h3>
                    <ul>
                        <li>Provide a proof that the system can work in principle.</li>
                        <li>Predict qualitatively the response of the system to different inputs.</li>
                    </ul>
                </div>
                <div>
                    <h3>DESIGN INSIGHTS</h3>
                    <ul>
                        <li>Assist design of the system by comparing the qualitative behavior of different design alternatives.</li>
                        <li>Tune the system for the desired time scale and concentration ranges.</li>
                    </ul>
                </div>
                <div>
                    <h3>UNRAVELLING INTEGRASE KINETICS</h3>
                    <ul>
                        <li>Coming soon ...</li>
                    </ul>
                </div>        
            </div>
        </div>

        <div class="sec white" id="results">
            <div>
                <h2>RESULTS</h2>
                <h3>DESIGN INSIGHTS</h3>
                <p>Thanks to qualitative simulations of the system during the design phase, we managed to get early information about the behavior of the the system. In particular the model advised us on the design of the reporter system, the placement of the integrase gene and the choice of plasmid ORIs.</p>
                <p>Moreover we were able to identify potential problems (like leakiness and sensitivity) and predict their influence on the final system. We designed and constructed the system under awareness of those critical points.</p>

                <h3>SYSTEM TUNING</h3>
                <p>Since our application targets specific time and concentration ranges we used the model to tune the components of the system. The sensor module was tuned for the relevant concentrations of quorum sensing molecule and the switch kinetics were adapted for the expected time scale of the measurements.</p>

                <h3>SYSTEM SIMULATION</h3>
                <p>After the characterization of the single components we were able to simulate the full system and validate its behavior. This allowed us to model the recorded signal as function of the measured fluorescence distribution, which is a critical operation during actual investigation. The stochastic nature of our model allows us to obtain additional information by taking advantage of the population effect.
                    </p>
            </div>
        </div>
        <div class="sec white" id="references">
            <div>
                <h2>REFERENCES</h2>
                <ul>
                    <li><a name="cit1" class></a>[1] Lillacci, Gabriele, and Mustafa Khammash. "The signal within the noise: efficient inference of stochastic gene regulation models using fluorescence histograms and stochastic simulations." <i>Bioinformatics</i> 29.18 (2013): 2311-2319.
                </ul>
            </div>
        </div>
    </body>
</html>