<!-- {{ETH_Zurich}} -->

<html>
    <body>
        <ul class="menu" id="outline">
            <li class="outline_title"><a href="#globalWrapper">SWITCH MODULE</a></li><!--
         --><li class="outline_item"><a href="#overview">Overview</a></li><!--
         --><li class="outline_item"><a href="#goals">Goals</a></li><!--
         --><li class="outline_item"><a href="#model">Model</a></li><!--
         --><li class="outline_item"><a href="#results">Results</a></li><!--
         --><li class="outline_item"><a href="#references">References</a></li><!--
         -->
        </ul>
        
        <div class="sec page_title" id="top">
            <div>
                <h1>SWITCH MODULE</h1>
            </div>
        </div>
        
        <div class="sec white" id="overview">
            <div>
                <h2>OVERVIEW</h2>
                <div class="image_box" style="max-width: 400px;">
                    <a href="http://2016.igem.org/wiki/images/9/96/T--ETH_Zurich--model_structure_switch.svg">
                        <img src="http://2016.igem.org/wiki/images/9/96/T--ETH_Zurich--model_structure_switch.svg">
                    </a>
                    <p><b>Figure 1:</b> The memory element of our circuit: the switch module.</p>
                </div>
                <p>The switch is the memory element of our circuit. We designed and tested different variants, all of them are based on editing of the plasmids (integrase-based switches) or of the chromosome (CRISPR-based switches).</p>
                <p>In general switches are binary elements. However, in biological systems switching doesn't happen at the same time on different plasmids and in different cells. We exploit this property to obtain quantitative outputs by relating the measured fluorescence to the exposure time/concentration of the sensed molecules.</p>
                <p>A key concern during the design of the system was the leakiness of the AND gate in the sensor module. We use the model of the switch to . Moreover the model allowed us to identify a flaw in the original design of the circuit and validate the improved version.</p>
            </div>
        </div>
        <div class="sec white three_columns paddingless">
            <div class="quicklinks">
                <div>
                    <ul> 
                        <li class="outline_item"><a href="#goals">
                            <img src="http://2016.igem.org/wiki/images/7/72/T--ETH_Zurich--arrow.svg">GOALS</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li class="outline_item"><a href="#model">
                            <img src="http://2016.igem.org/wiki/images/7/72/T--ETH_Zurich--arrow.svg">MODEL</a>
                        </li>
                    </ul>
                </div>
                <div style="padding-bottom:12px;">
                    <ul>
                        <li class="outline_item"><a href="#results">
                            <img src="http://2016.igem.org/wiki/images/7/72/T--ETH_Zurich--arrow.svg">RESULTS</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="sec light_grey title_only" id="goals">
            <div>
                <h2>GOALS</h2>
            </div>
        </div>
        <div class="sec light_grey two_columns content_only">
            <div>
                <div>
                    <ul>
                        <li>Provide a proof that the switch can work as expected.</li>
                        <li>Assist the design of the switch.</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Optimize the parameters for the requirements of our application.</li>
                        <li>Characterize the kinetics of the invertases precisely.</li>
                    </ul>
                </div>        
            </div>
        </div>
        
        <div class="sec white" id="model">
            <div>
                <h2>MODEL</h2>
                <p>We designed and modeled several variants of the switch. The first design is based on the integrase family of recombinases (Bxb1, Tp901, PhiC31). As an alternative we designed two CRISPR-based switches (CRISPR/Cas9, CRISPR/Cpf1).</p>

                <h3>VERSION 1: BXB1, TP901 AND PHIC31 INTEGRASES</h3>
                <div class="image_box">
                    <a href="http://2016.igem.org/File:T--ETH_Zurich--switch_integrase.png">
                        <img src="http://2016.igem.org/wiki/images/d/d6/T--ETH_Zurich--switch_integrase.png">
                    </a>
                    <p><b>Figure 2:</b> Integrase switch design, the same design applies to Bxb1, Tp901 and PhiC31. Click to enlarge.</p>
                </div>
                <p>The simplest version of the switch is based on the integrase family of recombinases. On this page we focus on the Bxb1 integrase, but the same model and analysis applies to Tp901 and PhiC31.</p>

                <p>From the literature<sup><a href="#cit1" class="cit">1</a></sup>, the dynamics of Bxb1 appear to be well known. When the AND gate in the sensor module activates, Bxb1 is expressed and dimerizes. In its dimerized form, Bxb1 can bind to the <i>attB</i> and <i>attR</i> binding sites placed around the P<sub>out</sub> promoter. When both sites are occupied, synapsis between the two can happen, enabling flipping. </p>
                
                <p>The flipping process changes the direction of the reporter promoter and transforms the <i>attB</i>, <i>attP</i> sites in <i>attL</i>, <i>attR</i>. At this point the switch is in the ON state, Bxb1 dimers can still bind to the <i>attL</i> and <i>attR</i> sites, but flipping the sequence again.</p>

                <p>The following section describes the species and reactions involved.</p>
                </div>
            </div>
        <div class="sec white two_columns content_only">
            <div>
                <div>
                    <h4>REACTIONS</h4>
                    \begin{align*}
                    P_{hyb} & \rightarrow P_{hyb} + mRNA_{int} \\
                    mRNA_{int} & \rightarrow mRNA_{int} + Bxb1 \\
                    Bxb1 + Bxb1 & \rightleftharpoons DBxb1 \\
                    S_0 + DBxb1 & \rightleftharpoons S_1 \\
                    S_1 + DBxb1 & \rightleftharpoons S_2 \\
                    S_2 & \rightarrow P^{switched} \\
                    mRNA_{int} & \rightarrow \\
                    Bxb1 & \rightarrow \\
                    DBxb1 & \rightarrow \\
                    \end{align*}
                </div>

                <div>
                    <h4>SPECIES</h4>
                    <table>
                        <tr>
                            <th>Name </th>
                            <th>Description </th>
                        </tr>
                        <tr>
                            <td>P<sub>hyb</sub><sup>ON</sup></td>
                            <td>Fraction of activity of the AND gate hybrid promoter</td>
                        </tr>
                        <tr>
                            <td>mRNAint</td>
                            <td>mRNA of the integrase</td>
                        </tr>
                        <tr>
                            <td>Bxb1</td>
                            <td>Integrase protein</td>
                        </tr>
                        <tr>
                            <td>DBxb1</td>
                            <td>Dimerized form of the integrase protein</td>
                        </tr>
                        <tr>
                            <td>S<sub>0</sub></td>
                            <td>Plasmid with free <i>attB</i> and <i>attP</i> sites.</td>
                        </tr>
                        <tr>
                            <td>S<sub>1</sub></td>
                            <td>Plasmid with DBxb1 bound to the <i>attB</i> or <i>attP</i> site.</td>
                        </tr>
                        <tr>
                            <td>S<sub>2</sub></td>
                            <td>Plasmid with DBxb1 bound to both the <i>attB</i> and <i>attP</i> sites.</td>
                        </tr>
                        <tr>
                            <td>P<sub>switched</sub></td>
                            <td>Plasmid with switched reporter promoter.</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="sec white paddingless">
            <div>
                <h3>VERSION 2: CRISPR/CAS9 CHROMOSOMAL GENE EDITING</h3>
                <div class="image_box">
                    <a href="http://2016.igem.org/File:T--ETH_Zurich--switch_crispr_cas9.png">
                        <img src="http://2016.igem.org/wiki/images/3/35/T--ETH_Zurich--switch_crispr_cas9.png">
                    </a>
                    <p><b>Figure 3:</b> CRISPR/Cas9 switch design. Click to enlarge.</p>
                </div>
                <p>The first one of our CRISPR switches is based on the Cas9 system.</p>
            </div>
        </div>
        <div class="sec white content_only">
            <div>
                <h3>VERSION 3: CRISPR/CPF1 CHROMOSOMAL GENE EDITING</h3>
                <div class="image_box" >
                    <a href="http://2016.igem.org/File:T--ETH_Zurich--switch_crispr_cpf1.png">
                        <img src="http://2016.igem.org/wiki/images/b/b6/T--ETH_Zurich--switch_crispr_cpf1.png">
                    </a>
                    <p><b>Figure 4:</b> CRISPR/Cpf1 switch design. Click to enlarge.</p>
                </div>
                <p>The last variant is based on CRISPR/Cpf1.</p>
            </div>
        </div>

        <div class="sec light_grey" id="results">
            <div>
                <h2>RESULTS</h2>

                <h3>DESIGN IMPROVEMENTS</h3>
                <p>We used the model to suggest important changes to the initial design of the system. In the initial version of the system, the integrase gene was placed <i>inside</i> the flipping cassette. This choice was taken with the intention to reduce the effect of the leakiness: on the plasmids where the cassette with the gene is flipped, the integrase protein is not expressed anymore. We expected cells where leakiness causes partial switching to express less integrase and thus reduce further switching.</p>

                <p>However, simulations of the system showed that this approach indeed reduces switching under leakiness conditions, but it also makes more difficult to reach complete switching when the AND gate is fully active. We proposed a different design in which the integrase gene and the flipping cassette are placed on different plasmids and compares its behavior with the initial design.</p>

                <div class="image_box full_size">
                    <a href="http://2016.igem.org/File:T--ETH_Zurich--switch_comparison.png">
                        <img src="http://2016.igem.org/wiki/images/4/43/T--ETH_Zurich--switch_comparison.png">
                    </a>
                    <p><b>Figure 5:</b> Comparison of the behavior of two designs of the switch in leakiness and activation conditions. The new design is clearly more suitable for our system.</p>
                </div>

                <p>Figure 5 shows the differences in the qualitative bahavior. The plots qualitatively describe the percentage of flipped cassettes over 6 hours. The simulation proves that the new design is slighlty more sensible to leakiness (0.2% over 6 hours) but takes the percentage of switched cassettes from 80% to 100%. Since 20% is an important difference in the signal, we discarded the initial design and implemented the new one.</p>

                <h3>TUNING FOR THE TARGET TIMESCALE</h3>
                <p>In the context of IBD investigation, we have specific requirements for our system. We propose two different sets of requirements, that allow two different interpretations of the output: binary or quantitative.</p>

                <p>In order to determine which parameters of the system can be tuned for our purpose, we perform a sensitivity analysis the percentage of switched reporter promoters towards the main parameters. This allows us to indentify the parameters that have the greatest influence on the final state of the system.</p>

                <div class="image_box full_size">
                    <a href="http://2016.igem.org/File:T--ETH_Zurich--sensitivity_activation.png">
                        <img src="http://2016.igem.org/wiki/images/5/5c/T--ETH_Zurich--sensitivity_activation.png">
                    </a>
                    <p><b>Figure 6:</b> Sensitivity of the promoter switching towards the main parameters. The integrase RBS strength (k_Bxb1) and the strength of the integrase degradation tag (d_Bxb1, d_DBxb1) are biologically tunable parameters and have significant influence on the response of the switch to activation.</p>
                </div>

                <div class="image_box full_size">
                    <a href="http://2016.igem.org/File:T--ETH_Zurich--sensitivity_leakiness.png">
                        <img src="http://2016.igem.org/wiki/images/8/80/T--ETH_Zurich--sensitivity_leakiness.png">
                    </a>
                    <p><b>Figure 7:</b> Sensitivity of the promoter switching towards the main parameters in leakiness conditions. The integrase RBS strength (k_Bxb1) and the strength of the integrase degradation tag (d_Bxb1, d_DBxb1) are biologically tunable parameters and have significant influence on the response of the switch to leakiness.</p>
                </div>

                <p>Figure 6 and 7 shows which parameters have the greatest influence on the final state of the system in response to both activation of the AND gate and leakiness. We decide to tune the integrase RBS strength (k_Bxb1) and the strength of the integrase degradation tag (d_Bxb1, d_DBxb1), since they are sensitive and biologically tunable.</p>

                <h4>BINARY OUTPUT</h4>
                <p>In this version the circuit must respond to the simple question: "Was a significant concentration of target biomarker present in the gut during inflammation?". Formally, this means that the circuit must satisfy the following requirements:</p>
                <ol>
                    <li>
                        <p><i>When the inflammation and cadidate marker are not present, the switch must be off for at least 48 hours. A system in the off state is defined to have &lt;10% of flipped reporter promoters on average.</i></p>
                        <p>This is necessary to minimize the effect of leakiness from the AND gate.</p>
                    </li>
                    <li>
                        <p><i>When the AND gate activates in presence of the inflammation and candidate markers, the system must switch to the on state within 6 hours. A system in the on state has &gt;50% of flipped reporters promoters on average.</i></p>
                        <p>From the literature we deduce that 6 hours is the minimum time the system is expected to be exposed to inflamation. We require a separation between off and on state in order to avoid the risk of false positives.</p>
                    </li>
                    <li>
                        <p><i>The response of the system must be as quick as possible.</i></p>
                        <p>The literature tells us that in some cases there are many, short inflamated regions. A quick response is desirable fro detecting them.</p>
                    </li>
                </ol>

                <p>We identify constraints on the parameters indentified above respecting the first two requirements and we optimize for the third one as follows:</p>
                <ol>
                    <li>We simulate the system in leaky conditions for </li>
                </ol>

                <h3>CHOICE OF PLASMID ORIs</h3>
            </div>
        </div>
        <div class="sec white" id="references">
            <div>
                <h2>REFERENCES</h2>
                <ul>
                    <li><a name="cit1" class></a>Singh, Shweta, Pallavi Ghosh, and Graham F. Hatfull. "Attachment site selection and identity in Bxb1 serine integrase-mediated site-specific recombination." <i>PLoS Genet 9.5</i> (2013): e1003490.</li>
                </ul>
            </div>
        </div>
    </body>
</html>