
/* Default wiki style */
/*==========================================================================*/
#sideMenu, #top_title {
    display:none;
}

body {
    background-color:#1f407a;
	min-width: 400px;
   	width: auto !important;
   	width: 400px; 
	-webkit-font-smoothing: subpixel-antialiased;
}

#bodyContent h2, #bodyContent h3,
#bodyContent h4, #bodyContent h5 {
	font-family: wf_segoe-ui_light,'Segoe UI Light','Segoe WP Light',wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
	margin-bottom: 0px;
}

#bodyContent h2 {
	font-size: 24px;
	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
	font-weight: 500;
}

/* styling for the titles */
.content_wrapper h1, .content_wrapper h2 {
	padding: 16px 0px 10px 0px; 
	border-bottom:0px; 
	color:#1f407a;
}
.content_wrapper h3, .content_wrapper h4 {
	padding: 18px 0px 8px 0px; 
	border-bottom:0px; 
	color:#1f407a;
}

.content_wrapper h3 {
	font-size: 18px;
}

.content_wrapper h4 {
	font-size: 16px;
}

#globalWrapper {
    padding: 0px;
}

video {
	max-width: 100%;
}

#paws > li {
	display: inline-block;
	max-width: 25%;
	box-sizing: border-box;
	padding: 20px;
}

.portrait_list {
	margin: 0px !important;
	padding: 0px !important;
	list-style: none !important;
}

.portrait_list li {
	max-width: 25%;
	display: inline-block;
	padding-right: 8px;
	padding-bottom: 18px; 
	box-sizing: border-box;
}

/* Title style */
/*==========================================================================*/

.title_container {
    text-align: center;
    font-family: "Segoe UI",Arial,Helvetica,sans-serif;
    font-size: 48px;
    color: #FFFFFF;
    font-weight: 600;
	padding: 8px 0px;
	margin: 0px auto;
	overflow: auto;
	width: 60%;
	max-width: 900px;
	display: table;
}

.title_container div {
	width: auto;
}

#title_pavlov {
	float: left;
}
#title_pavlov img {
	height: 100px;
}

#title_text {
	display:table-cell;
 	vertical-align:middle;
}

#title_igem {
	float: right;
}
#title_igem img {
	margin: 10px 0px;
	height: 80px;
}

#burger_icon {
	display: none;
}

#burger_icon > img {
	padding: 6px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease; 
	-ms-transition: all 0.3s ease; 
	-o-transition: all 0.3s ease; 
	transition: all 0.3s ease;
}

#burger_icon > img:hover {
	background-color: #3f609a;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease; 
	-ms-transition: all 0.3s ease; 
	-o-transition: all 0.3s ease; 
	transition: all 0.3s ease;
}
/* Menu style */
/*==========================================================================*/

.menu_container {
    z-index: 10;
    background-color: #111111;
    color: #EEEEEE;
    font-family: wf_segoe-ui_light,'Segoe UI Light','Segoe WP Light',wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
    font-size: 20px;
	width: 100%;
	-webkit-font-smoothing: subpixel-antialiased;
}

#outline {
	background-color: #222222;
	font-size: 16px;
	display: block;
	text-align:center;
	font-family: "Segoe UI",Arial,Helvetica,sans-serif;
}

#outline a {
	color: #CCCCCC;
}

.menu_container a {
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	-ms-user-select: none;
  	user-select: none;
}

.menu_container a {
    color: #EEEEEE;
    text-decoration:none;
	display: block;
}

.menu_container ul {
    list-style-type: none;
    list-style-image: none;
    margin: 0px;
}

.menu_container > ul {
    margin: 0 auto;
	-webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
}

.menu_container > ul > li > a {
    height: 42px;
    line-height: 42px;
    padding: 0px 12px;
}

#outline > li > a, .outline_title {
    height: 28px;
    line-height: 28px;
    padding: 0px 12px;
}

.menu_item, #outline .outline_item, .outline_title {
    display: inline-block;
}

#outline .outline_title {
    cursor: default !important;
}

.quicklinks img {
	width: 16px !important;
	display: inline-block;
	margin-right: 4px;
	margin-bottom: 4px;
}

.quicklinks ul {
	list-style: none !important;
	margin-left: 0px !important;
}

.quicklinks a {
	font-size: 16px;

}

.menu_container li {
    cursor: pointer;
    margin: 0px;
}

.menu {
	display: table;
    margin: 0 auto;
}

.menu_item, .submenu > li {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease; 
	-ms-transition: all 0.3s ease; 
	-o-transition: all 0.3s ease; 
	transition: all 0.3s ease;
}

.menu_hover {
	background-color: #3D3D3D;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease; 
	-ms-transition: all 0.3s ease; 
	-o-transition: all 0.3s ease; 
	transition: all 0.3s ease;
}

.menu_open {
	background-color: #232323;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease; 
	-ms-transition: all 0.3s ease; 
	-o-transition: all 0.3s ease; 
	transition: all 0.3s ease;
}

.menu_container .submenu {
    display: none;
	background-color: #232323;
}

.menu_container .submenu_visible {
	display: block;
	position: absolute;
}

.menu_container .submenu a {
	font-size: 18px;
	padding: 6px 54px 6px 16px;
}

.burger_visible {
	display: block !important;
}

/* Default content style */
/*==========================================================================*/

.content_wrapper {
	width: 100%;
    background-color:white;
    display: block;
  	margin-left: auto;
  	margin-right: auto;
}

#content {
    width: 100%;
	height: 100%;
    padding: 0;
	padding:0px;
    margin-left:0px;
    background-color:#1f407a;
}

.content_wrapper > p {
    display:none;
}

div.sec:first-of-type {
    width: auto;
    padding: 54px 0px 14px 0px;
}

.sec {
    width: auto;
    padding: 14px 0px;
    overflow: hidden;
}

.title_only {
	padding-bottom: 0px;
}

.content_only {
	padding-top: 0px;
}

.paddingless {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}

.sec > div {
	max-width: 900px;
	margin: 0px auto;
	width: 60%; 
}

.sec p {
	text-align: justify;
}

.white, .white *:not(span) {
    background-color: #FFFFFF;
	color: #000000;
}

.white h1, .white h2, .white h3, .white h4 {
	color:#1f407a;
}

.light_grey, .light_grey *:not(span) {
    background-color: #ECECEC;
	color: #000000; 
}

.light_grey h1, .light_grey h2, .light_grey h3, .light_grey h4 {
	color:#1f407a;
}

.dark_grey, .dark_grey *:not(span) {
    background-color: #222222;
	color: #FFFFFF !important;
	-webkit-font-smoothing: subpixel-antialiased;
}

.blue, .blue *:not(span) {
    background-color:#1f407a;
	color: #FFFFFF !important;
	-webkit-font-smoothing: subpixel-antialiased;
}

.page_title {
	font-family: wf_segoe-ui_light,'Segoe UI Light','Segoe WP Light',wf_segoe-ui_normal,'Segoe UI',Segoe,'Segoe WP',Tahoma,Verdana,Arial,sans-serif;
    font-size: 22px;
    color: #1f407a;
    font-weight: 600;
	line-height: normal;
}
.page_title h1 {
	border-bottom: solid !important;
	border-bottom-width: 2px !important;
	padding: 0px !important;
	line-height: 46px;
	text-align: center;
}

/* Section with two columns */
.two_columns, .three_columns {
	overflow: auto;
}
.two_columns > div > div {
	width: 50%;
	padding: 0px 12px;
	float: left;
	box-sizing: border-box
}
.two_columns > div > div:first-child {
	width: 50%;
	padding-left: 0px;
}
.two_columns > div > div:last-child {
	width: 50%;
	padding-right: 0px;
}

/* Section with three columns */
.three_columns > div > div {
	width: 33.33%;
	padding: 0px 12px;
	float: left;
	box-sizing: border-box;
}
.three_columns > div > div:first-child {
	width: 33.33%;
	padding-left: 0px;
}
.three_columns > div > div:last-child {
	width: 33.33%;
	padding-right: 0px;
}

/* Box containing an image and its caption */
.image_box {
    float: right;
    margin: 6px 0px 6px 12px;
    width: 50%;
    border-style: solid;
    border-width: 1px;
    padding: 4px;
	box-sizing: border-box;
	background-color:white !important;
}
.image_box * {
	background-color:white !important;
}
.image_box p {
    margin-top: 4px;
    font-size: 14px !important;
	padding-bottom: 0px !important;
}
.image_box img {
	background-color:white;
	border-style: solid;
    border-width: 1px;
	box-sizing: border-box;
}
.full_size {
	width:100%;
	float: none!important;
	margin: 12px auto;
}

.half_size {
	width: 50%; 
}

.half_size img { 
	padding: 10px 15px;
	width: 93%; 
}

.clear {
	clear:both;
}

.highlight { 
	width: 90%; 
	margin: auto; 
	padding: 15px 5px;
	background-color: #f2f2f2; 
}

.judges-will-not-evaluate {
	border: 4px solid #72c9b6;
	display: block;
	margin: 5px 15px;
	width: 95%;
	font-weight:bold;
}

/* font and text */
.content_wrapper p { 
	font-size: 14px;
	font-family:Tahoma, Geneva, sans-serif;
    margin: 0px;
	padding-bottom: 6px;
	/* line-height: 1.6em; */
}

/* Links */
.content_wrapper a {
	color: #1f407a;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease; 
	-ms-transition: all 0.4s ease; 
	-o-transition: all 0.4s ease; 
	transition: all 0.4s ease;
}

/* hover for the links */
.content_wrapper a:hover { 
	text-decoration:none;
	color:#000000;
}

/* non numbered lists */
.content_wrapper ul {
	padding:0px 5px;
	margin-top: 0px;
	margin-left: 8px;
	font-size: 14px;
	font-family:Tahoma, Geneva, sans-serif;
	list-style-image: url(http://2016.igem.org/wiki/images/0/05/T--ETH_Zurich--bullet.png);
}


/* numbered lists */
.content_wrapper ol {
	padding:0px;
	margin-top: 0px;
	margin-left: 28px;
	font-size: 14px;
	font-family:Tahoma, Geneva, sans-serif; 
}

/* Table */
.content_wrapper table { 
	width: 100%; 
	margin:0px 0px; 
	border: 1px solid #444444; 
	border-collapse: collapse;
	background-color: white;
	font-size: 14px;
}

/* table cells */
.content_wrapper td { 
	padding: 10px;
	vertical-align: text-top; 
	border: 1px solid #444444; 
	border-collapse: collapse; 
}

/* table headers */
.content_wrapper th { 
	padding: 10px; 
	vertical-align: text-top; 
	border: 1px solid #444444; 
	border-collapse: collapse; 
	background-color:#f2f2f2; 
}

.content_wrapper img { 
	width: 100%;
}

/* Button class */
.button_click { 
	margin: 10px auto;
	padding: 15px; width:12%;  
	text-align:center; 
	font-weight:bold; 
	background-color: #72c9b6;
	cursor:pointer;  
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease; 
	-ms-transition: all 0.4s ease; 
	-o-transition: all 0.4s ease; 
	transition: all 0.4s ease; 
}

/* button class on hover */
.button_click:hover {  
	background-color:#000000; 
	color:#72c9b6;
}

#sponsor_logos {
    text-align:center;
	margin: 16px 0px;
	padding: 16px;
	background-color: white;
}

#sponsor_logos a {
    padding-right: 0px !important;
	background-color: white;
}

#sponsor_logos img {
    max-height:74px;
	max-width:100%;
    width:auto;
    height:auto;
	background-color: white;
}

#sponsor_logos li {
    display: inline-block;
    margin: 16px 16px;
	background-color: white;
}

/* Responsive styling */
/*==========================================================================*/

/* If the screen width is smaller than 1000px */
@media only screen and (max-width: 1000px) {
	.icon {display:none;}
	.highlight {padding:10px 0px;}
	.sec > div, .title_container { width: 80%; }
}

/* If the screen width is smaller than 740px */
@media only screen and (max-width: 740px) {
	.collapsable_menu_control { display:block; }
	.highlight {padding:15px 5px;}
	.sec > div { width: 88%; }
	.title_container { width: 88%; }
	#burger_icon { display: block; float: right; }
	#title_text { text-align: left; font-size: 40px; }
	#main_menu { display: none; }
	.menu_item { display: block; width: 100%; }
	.menu { width: 100%; }
	.submenu_visible { position: relative !important; }
	.submenu a {  padding-left: 24px !important; }
	.two_columns > div > div, .three_columns > div > div {
		float: none; width: auto !important; padding: 0px; }
	#outline { display: none; }
	#title_igem { display: none; }
	#title_pavlov { display: none; }
	#paws > li { padding: 20px 0px; }
	.portrait_list li { max-width: 50%; }
}
